html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  width: auto;
  height: auto;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.current-state {
  padding: 0;
  margin-left: 1vh;
}

.memo-list {
  list-style-type: none;
  padding: 0;
  margin-left: 1vh;
}

button {
  width: 8vh;
  height: 8vh;
  background-color: #4b4f57;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 4vh;
  margin-left: 1vh;
}

button:hover {
  background-color: #5a5e67;
}

.memo-editor-container {
  flex: 2;
  margin-top: 8vh;
  margin-left: 8vw;
  margin-right: 4vw;
}

.memo-textarea {
  width: 100%;
  height: auto;
  min-height: 80vh;
  border-radius: 10px;
}

.memo-editor-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  justify-content: space-between;
}

.memo-edit-button {
  width: 63%;
}

.memo-delete-button {
  width: 33%;
}
